{% extends "main/base.html" %}
{% load static %}


{% block content %}
<div class="row">
    <!-- Форма фильтров -->
    <div class="dropdown mb-2">
        <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Фильтры
        </button>

        <form action="" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
            <div class="form-check text-white mx-3">
                <input class="form-check-input" type="checkbox" name="on_sale" id="onSale" value="on" {% if request.GET.on_sale %}checked{% endif %}>
                <label class="form-check-label" for="onSale">
                    Только доступные квартиры
                </label>
            </div>

            <p class="text-white mx-3 mt-3">Сортировать по:</p>
            <div class="form-check text-white mx-3">
                <input class="form-check-input" type="radio" name="order_by" id="default" value="default" checked {% if request.GET.order_by == 'default' %}checked{% endif %}>
                <label class="form-check-label" for="default">
                    По умолчанию
                </label>
            </div>
            <div class="form-check text-white mx-3">
                <input class="form-check-input" type="radio" name="order_by" id="price" value="price" {% if request.GET.order_by == 'price' %}checked{% endif %}>
                <label class="form-check-label" for="price">
                    От дешевых к дорогим
                </label>
            </div>
            <div class="form-check text-white mx-3">
                <input class="form-check-input" type="radio" name="order_by" id="price_desc" value="-price" {% if request.GET.order_by == '-price' %}checked{% endif %}>
                <label class="form-check-label" for="price_desc">
                    От дорогих к дешевым
                </label>
            </div>

            <p class="text-white mx-3 mt-3">Размер квартиры (м²):</p>
            <input type="number" class="form-control mx-3" name="min_size" placeholder="Минимальный размер" min="0" value="{{ request.GET.min_size }}">
            <input type="number" class="form-control mx-3" name="max_size" placeholder="Максимальный размер" min="0" value="{{ request.GET.max_size }}">

            <p class="text-white mx-3 mt-3">Количество комнат:</p>
            <select class="form-select mx-3" name="rooms">
                <option value="">Все</option>
                <option value="1" {% if request.GET.rooms == '1' %}selected{% endif %}>1</option>
                <option value="2" {% if request.GET.rooms == '2' %}selected{% endif %}>2</option>
                <option value="3" {% if request.GET.rooms == '3' %}selected{% endif %}>3</option>
                <option value="4" {% if request.GET.rooms == '4' %}selected{% endif %}>4</option>
                <option value="5" {% if request.GET.rooms == '5' %}selected{% endif %}>5+</option>
            </select>

            <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
        </form>
    </div>

    {% for apartment in apartments %}
    <div class="col-lg-4 col-md-6 p-4">
        <div class="card border-primary rounded custom-shadow">
            <div class="card-body">
                <a href="{{ apartment.link }}">
                    <p class="card-title">{{ apartment.place }}</p>
                </a>
                <p class="card-text text-truncate">
                    {{ apartment.rooms }} комнаты, {{ apartment.apartment_size }} м², Этаж: {{ apartment.floor }}
                </p>
                <p><strong>{{ apartment.price }} $</strong></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Пагинация -->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center my-4">
        <li class="page-item">
            <a class="page-link" href="?page=1">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page=2">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page=3">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page=next">Next</a>
        </li>
    </ul>
</nav>
{% endblock %}


{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Home Python Hub Studio 2023</p>
    </div>
</footer>
{% endblock footer %}